:root{
    --fondo: #ffffff;
    --textoNavbar:#1a333f;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	height: 100%;
	overflow: auto;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
		transform: rotate(0deg);
    }
}

.wave {
	top: -400px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
	animation: 
				slideDown 2s ease-out forwards,
				rotate 4s linear infinite 2s;
	
	filter: drop-shadow(0px 0px 20px rgb(219, 227, 176));;

}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #949494, #0a0d0c, #01110c);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.navbar-brand {
	color:var(--textoNavbar);
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
  }
  
  .navbar {
	  padding: 2rem;
	  background-color: var(--fondo);
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  height: 70px;
  }
  
  .nav-link{
	color: var(--textoNavbar);
	font-size: 16px;
  }

  .card-header{
	background-color: var(--fondo);
  }